.a__select {
    font-size:  16px; 
    padding:  20px 20px; 
    border:  none; 
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    background:  #fff; 
    width:  100%; 
    box-sizing:  border-box; 
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  400;
  }

  .a__input:focus {
    outline: none;
  }





